/*
Background: 222
Text Color: eee
Button Color: 7681b9
Highlight: EC6F28
*/

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    font-family: 'Baloo Tammudu', cursive;
    /*line-height: 20px;*/
}

html {
  height: 100%;
}

body {
  height: 95%;
  background: black;
}

body:not(.user-is-tabbing) button:focus, body:not(.user-is-tabbing) input:focus, body:not(.user-is-tabbing) select:focus, body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
}

.grid-item {
  color: #eee;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  /*grid-template-columns: 230px 58% 230px;
  grid-template-rows: 100px 400px 68px auto 100px;*/
  grid-template-columns: 20% 50% 20%;
  grid-template-rows: 10% 50% 30% 5%;
  grid-gap: 2%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid-container-center {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-container-alerts {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-container-upgrades-left {
  display: grid;
  grid-gap: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  line-height: 0px;
  width: 100%;
}

.grid-container-upgrades-right {
  display: grid;
  grid-gap: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: ltr;
  line-height: 0px;
  width: 100%;
}

.grid-container-upgrades-left::-webkit-scrollbar {
  width: 10px;
}
.grid-container-upgrades-left::-webkit-scrollbar-thumb {
  background: rgba(118,129,185, 0.5);
  border-radius: 10px;
}
.grid-container-upgrades-left::-webkit-scrollbar-thumb:hover {
    background: rgba(118,129,185, 0.7);
}

.grid-container-upgrades-right::-webkit-scrollbar {
  width: 10px;
}
.grid-container-upgrades-right::-webkit-scrollbar-thumb {
  background: rgba(118,129,185, 0.5);
  border-radius: 10px;
}
.grid-container-upgrades-right::-webkit-scrollbar-thumb:hover {
    background: rgba(118,129,185, 0.7);
}

.grid-container-upgrades-buttons-left {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  justify-content: center;
  align-items: center;
  justify-self: end;
  width: 100%;
  margin-left: 10px;
}

.grid-container-upgrades-buttons-right {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  justify-content: center;
  align-items: center;
  justify-self: end;
  width: 100%;
}

.grid-container-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  justify-content: center;
  align-items: center;
  grid-column-end: span 3;
  height: auto;
  align-self: end;
}

.grid-container-combo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-container-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-items: end;
}

.grid-container-marquee {
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-column-end: span 3;
}

.grid-container-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-container-overlay {
  display: grid;
  grid-template-rows: 6% 47% 47%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 95%;
  width: 96%;
  margin-left: 2%
}

.grid-container-chart {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.grid-container-currencies {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-container-zoomed-chart-menu {
  grid-template-rows: 1fr 1fr 1fr;
}

#mainButton {
  width: auto;
  height: auto;
}

#bread-image {
  max-width: 20vw;
  max-height: 15vh;
  width: auto;
  height: auto;
}

.comboSequence {
  text-align: center;
  height: 100%;
  font-size: 6vh;
  line-height: 6vh;
}

#loadingBarWrapper{
  height: auto;
}

#loadingBarLeft {
  float: right;
  height: 1vh;
  width: 0px;
  background-color: #7681b9;
  border-radius: 16px;
}

#loadingBarRight {
  height: 1vh;
  width: 0px;
  background-color: #7681b9;
  border-radius: 16px;
}

.comboPointsPopUp {
    width: 100%;
    height: auto;
}

/* The actual popup */
.comboPointsMessage {
    visibility: hidden;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    z-index: 1;
}

/* Toggle this class - hide and show the popup */
.comboPointsPopUp .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.comboPointsPopUp .hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.alert {
  visibility: hidden;
  text-align: center;
}

.alerts .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms linear;
  }

.alerts .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms linear;
  }

.skill {
  color: #eee;
  background: #7681b9;
  width: auto;
  height: 100%;
  font-size: 1vw;
  cursor: pointer;
  position: relative;
}

.skill:disabled {
  color: #aaa;
  background: #777;
  cursor: default;
}

/*SKILLS COOLDOWNS*/
#skill0:disabled:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(84,96,151, 0.7);
  animation: skill 3s linear;
}

#skill1:disabled:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(84,96,151, 0.7);
  animation: skill 5s linear;
}

#skill2:disabled:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(84,96,151, 0.7);
  animation: skill 10s linear;
}

#skill3:disabled:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(84,96,151, 0.7);
  animation: skill 50s linear;
}

#skill4:disabled:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(84,96,151, 0.7);
  animation: skill 60s linear;
}

@keyframes skill {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.skill-text {
  line-height: 1vw;
}

.upgrade {
  height: 100%;
  grid-row-end: span 3;
}

.upgrade button {
  width: 100%;
  height: 100%;
  text-align: center;
}

.upgrade-text {
  direction: ltr;
  line-height: 20px;
}

.enabled {
  font-size: 18px;
  color: #eee;
  padding: 0px 0px;
  background-color: #7681b9;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear, 100ms ease-in-out;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"   width="1296px" height="768px" viewBox="0 0 1296 768" enable-background="new 0 0 1296 768" xml:space="preserve"><g><polygon fill="#8694D1" points="766.6,1.2 -0.2,768 200.7,768 967.5,1.2   "/></g><g><polygon fill="#8694D1" points="1094.8,1.2 328,768 528.9,768 1295.7,1.2   "/></g></svg>');
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.enabled:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

.enabled:active {
  transform: scale(0.9, 0.9);
}

.disabled {
  font-size: 18px;
  color: #aaa;
  padding: 0px 0px;
  background-color: #777;
}

.buy-multiple {
  height: 100%;
  justify-self: stretch;
  align-self: stretch;
}

.buy-multiple button {
  display: table;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0;
}

.buy-multiple button.enabled {
  color: #eee;
  background-color: #7681b9;
  transition: box-shadow 500ms linear, 100ms ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.buy-multiple button.disabled {
  color: #aaa;
  background-color: #777;
}

.buy-multiple button.enabled:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.buy-multiple button.enabled:active {
  transform: scale(0.9, 0.9);
}

.marquee {
  background: rgba(40, 40, 40, 0.5);
  border: 2px solid rgba(118,129,185, 0.5);
  border-left: none;
  border-right: none;
  width: 100%;
  max-height: 4vh;
  line-height: 1vh;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.marquee p {
  font-size: 3vh;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-left: 0% 0% 0% -50%;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(200%, 0); }
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlay-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background: #333;
  border: 5px solid #7681b9;
  width: 50%;
  height: 70%;
  margin: 0 auto;
  left: 25%;
}

/* The Close Button of the overlay window*/
.close {
    color: #555;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding-right: 5px;
    margin-top: -15px;
    cursor: pointer;
}

.close-container{
  align-self: start;
  justify-self: end;
}

.close:hover{
  color: #999;
}

/* width */
.log-overlay-middle::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.log-overlay-middle::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
 
/* Handle */
.log-overlay-middle::-webkit-scrollbar-thumb {
    background: #7681b9; 
    border-radius: 10px;
}

/* Handle on hover */
.log-overlay-middle::-webkit-scrollbar-thumb:hover {
    background: #6570a8; 
}

.overlay-headline {
  color: #eee;
  font-size: 35px;
  padding-left: 10px;
  margin-top: -10px;
  justify-self: start;
  align-self: start;
}

.overlay-headline-hr {
  width: 150%;
  margin-top: -26px;
}

.save-overlay-middle {
  grid-column-end: span 3;
}

.save-overlay-middle p {
  color: #eee;
  font-size: 25px;
}

.save-overlay-middle input {
  width: 100%;
}

.load-overlay-middle {
  grid-column-end: span 3;
}

.load-overlay-middle p {
  color: #eee;
  font-size: 25px;
}

.load-overlay-middle input {
  width: 100%;
}

.load-overlay-middle button {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-left: calc(50% - 50px);
}

.log-overlay-content {
  grid-template-rows: 6% 47% 47%;
}

.log {
  margin-top: 15px;
}

.log p {
  color: #eee;
  font-size: 20px;
  line-height: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}

.log hr {
  margin-bottom: 10px;
  margin-top: -5px;
  border: 2px solid #222;
}

.log-overlay-middle {
  grid-column-end: span 3;
  grid-row-end: span 2;
  width: 100%;
  height: 100%;
  justify-self: start;
  align-self: start;
  overflow-y:auto
}

.log-overlay-middle input {
  width: 100%;
  height: 100%;
}

.timestamp {
  color: #aaa;
  display: inline-block;
  width: 100px;
}

.chart-overlay-content {
  grid-template-rows: 1fr 5fr 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
}

.market-timer {
  grid-column: span 2;
}

.zoomed-chart {
  background: #aaa;
  grid-column: span 3;
  width: 100%;
  height: 100%;
}

.button-feature0 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterI.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature1 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterC.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature2 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterA.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature3 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterP.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature4 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterQ.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature5 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterR.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature6 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/20d8f44ad658b9a72e99443ed2b83d7fef2529bc/images/letterE.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.button-feature7 {
  background: url(https://raw.githubusercontent.com/NedkoChulev/nedkosincrementalgame/master/images/letterS.jpg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.menu {
  width: 100%;
  height: auto;
}

.menu button {
  width: 100%;
  height: 100%;
  color: #eee;
  background-color: #445e23;
  transition: box-shadow 500ms linear, 100ms ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu button:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.menu button:active {
  transform: scale(0.9, 0.9);
}

.shop-button-container {
  height: auto;
}

.shop-button {
  width: 100%;
  height: auto;
  text-align: center;
}

.shop-button span {
  display: inline-block;
  font-size: 4vh;
  margin-top: 7%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart {
  position: relative;
  grid-row-end: span 3;
  margin: auto;
  height: 100%;
  width: 100%;
}


.chart:hover .chart-zoom {
  opacity: 1;
  cursor: pointer;
}

.chart-zoom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(110, 110, 110, .3);
}

.chart-zoom span {
  display: table;
  height: 100%;
  width: 100%;
}

.chart-zoom span p {
  font-family: arial;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
  line-height: 100px;
  border: 5px solid;
  border-radius: 20px;
}

.market-index h2 {
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  line-height: 35px;
}

.market-index p {
  text-align: center;
  margin: 0px;
  line-height: 20px;
}

.market-index-overlay span {
  margin: 0px;
}

.market-index-overlay p {
  margin: 0px;
  display: inline-block;
}

.market-history-overlay-content {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

/* width */
.market-history-overlay-middle::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.market-history-overlay-middle::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
 
/* Handle */
.market-history-overlay-middle::-webkit-scrollbar-thumb {
    background: #7681b9; 
    border-radius: 10px;
}

/* Handle on hover */
.market-history-overlay-middle::-webkit-scrollbar-thumb:hover {
    background: #6570a8; 
}

.market-history-overlay-middle {
  grid-column-end: span 3;
  grid-row-end: span 2;
  width: 100%;
  height: 95%;
  justify-self: start;
  align-self: start;
  overflow-y:auto
}

.market-history-overlay-middle input {
  width: 100%;
  height: 100%;
}

.market-history {
  margin-top: 15px;
}

.market-history p {
  color: #eee;
  font-size: 20px;
  line-height: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
}

.market-history hr {
  margin-bottom: 10px;
  margin-top: -5px;
  border: 2px solid #222;
}

.sell-stock {
  height: 100%;
  width: 100%;
}

.buy-stock {
  height: 100%;
  width: 100%;
}

.bottom-right-menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}